ol, ul {
  padding-left: 30px;
}



.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: calc(12.5% - 1px);
}

.board-row {
  flex: 8;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
}

.chess-board {
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
}

.game-info {
  margin-left: 20px;
}

.stretchy {
  display:block; 
  float:left; 
  position:relative; 
  overflow:hidden;
  width: 95%
}
.stretchy .spacer {
  width: 100%; 
  height: auto;
}
.stretchy .no-limit {
  max-width: none;
}
.stretchy .sprite {
  position:absolute; 
  top: -17%;
  left: 21%;
  max-width:none; 
  height: 220%;
}
.stretchy .sprite .s2 {left:-100%;}